<nav class="navbar navbar-expand-lg fixed-top" style="background-color: crimson; color: white;">
    <a class="navbar-brand" href="/" style=" color: white;">Photos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" style=" color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin" style=" color: white;">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style=" color: white;">
                    Location
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for location in locations %}
                    <a class="dropdown-item" href="/?location={{location.id}}">{{location.name}}</a>

                    {%endfor%}

                </div>
            </li>

        </ul>

        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Photos by category" name="images">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search text-white"
                                aria-hidden="true"></i>
                        </button>

                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
    </div>
</nav>