
<style>
    nav {
        position: sticky;
        top: 0;
        background-color: white;
      }
    
      nav li {
        display: inline-block;
        margin-right: 5px;
      }
</style>
    
     
    
    <nav >
      <ul class="flex justify-center items-center">
        <li class="mr-7"><a href="#home" class="text-gray-600 hover:text-blue-600">Home</a></li>
        <li class="mr-7"><a href="#gallery" class="text-gray-600 hover:text-blue-600">Gallery</a></li>
        <li><a href="#new arrivals" class="text-gray-600 hover:text-blue-600">New Arrivals</a></li>
      </ul>
    </nav>
    
    
    