{% extends "base.html" %}
{% load bootstrap4 %}

 


<!-- <style>
    mr-5 {
        position: sticky;
        top: 0;
        background-color: white;
      }
    
      nav li {
        display: inline-block;
        margin-right: 5px;
      }
</style> -->
{% block content %}

<!-- <div style="background-color:rgb(218, 237, 222)"> -->
<div class="card" style="width: 18rem;">
    <h1 class=" ">Guns gallery</h1>

    <div>
        {% for photo in photos %}
        <!-- <h1>{{ photo.title }}</h1> -->
        <img class="card-img-top" src="{{ photo.image.url}}" alt="Card image cap">
        <!-- <img src="{{ photo.image.url}}" alt="" width="400"> -->
        <div class="card-body">
            <h5 class="card-title">{{ photo.title }}</h5>
            <p class="card-text">{{ photo.text }}</p>
            <p class="card-text">{{ photo.created_date }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <!-- <p>{{ photo.author }}</p>
        <p>{{ photo.text }}</p>
        <p>{{ photo.created_date }}</p>
        <p>{{ photo.published_date }}</p> -->
        {% endfor %}
        {%endblock%}
    </div>
    

</div>
<!-- {% for photo in photos %} -->

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ photo.title }}</h5>
      <p class="card-text">{{ photo.text }}</p>
      <p class="card-text">{{ photo.created_date }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endfor %} -->
<!-- <p>lkjhgfghjklkjhghjk</p>

